@font-face {
   font-family: 'euphorig';
   font-display: swap;
   src: url('file:///C:/Users/Maciek/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-01-11_220309/fonts/euphorig/font.ttf');
}
